<h3>Rules and Regulations</h3>
<br/>
<h4><u>Call of Duty 4 &ndash; Modern Warfare (2007)</u></h4>
<br/>
<div class="move-left">
    <h5>BASIC GAME MODE SETTINGS</h5>
    <ul>
        <li>Bomb Timer: 30 seconds</li>
        <li>Defuse Time: 7 seconds</li>
        <li>Plant Time: 5 seconds</li>
        <li>Time Limit: 1.45 minutes</li>
        <li>Round Limit:
            <ul>
                <li>12 rounds, with half time and switching sides at 6</li>
                <li>24 rounds, with half time and switching sides at 12 (Grand Final)</li>
            </ul>
        </li>
        <li>Score Limit:
            <ul>
                <li>First team to reach 7 will be the map winner (1st/ 2nd / 3rd Sessions)</li>
                <li>First team to reach 10 will be the map winner (Semi Finals)</li>
                <li>First team to reach 13 will be the map winner (Grand Final)</li>
            </ul>
        </li>
        <li>All matches will be played on promodlive220_EU (promod_mode lan_knockout_mrx)</li>
        <li>FPS Limit 125</li>
    </ul>
    <h5>TIE BREAKER</h5>
    <ul class="list-unstyled" style="padding-left: 30px">
        <li>If both teams have an equal number of map wins(or rounds) at the end of two maps(or one map) played,</li>
        <li>a tie breaker map will be played where the winner of that map will win the match.</li>
        <li>Both the map and the side selection will be decided by two coin tosses.</li>
        <li>If the first tie breaker ends up as a draw same map will be played and sides will be changed</li>
        <li>(e.g.: first tie breaker match team who attacked first now have to defend first).</li>
    </ul>
    <h5>MAPS</h5>
        <ol>
            <li>mp_backlot (Backlot)</li>
            <li>mp_crash (Crash)</li>
            <li>mp_crossfire (Crossfire)</li>
            <li>mp_citystreet (District)</li>
            <li>mp_strike (Strike)</li>
        </ol>
    <h5>A team with five players can use a maximum of:</h5>
    <ul>
        <li>One (1) Sniper</li>
        <li>One (1) Demolition</li>
        <li>Two (2) Spec-Ops</li>
        <li>Five (5) Assault</li>
    </ul>
    <h5>BANNED WEAPONS, ATTACHMENTS AND GRENADES</h5>
    <ul>
        <li>P90</li>
        <li>Scorpion</li>
        <li>M21</li>
        <li>Dragunov</li>
        <li>Barrett</li>
        <li>.50cal</li>
        <li>LMG</li>
    </ul>
    <ul class="list-unstyled" style="padding-left: 30px">
        <li>All Attachments are banned except for silencers.</li>
        <li>Note: for Special Grenades, the stun grenade is disabled. All perks are disabled.</li>
        <li>Side Selection and Map Selection</li>
        <li>Side selection will be decided by a coin toss.</li>
        <li>Only one map will be played and that map will be decided by the removing of maps from the pool of 5 official maps until only one map remains. Each team gets to remove two maps from the pool.</li>
        <li>A coin toss will decide who removes the first map (Loser of the coin toss removes the first map so the winner gets the chance to remove the last map from the remaining two maps).</li>
    </ul>
    <h5>OTHER RULES</h5>
    <ul class="list-unstyled" style="padding-left: 30px">
        <li>All programs or files, either changed game files or new files, that change the game or add to its functionality, or which interact with the game in any way, are strictly forbidden.</li>
        <li>Modified versions of the game&rsquo;s resource files are always forbidden, regardless of what they do. The use of any forbidden program or file by any team member during a match, leads to a forfeit loss, and could lead to a removal and ban from tournament.</li>
    </ul>
    <h5>Illegal Binds are defined as :-</h5>
    <ul>
        <li>Any binding of three or more keys.</li>
        <li>Binds that alter the map model, i.e.: no fog, no foliage, etc.</li>
        <li>Any binds pointed to any program or function that resides outside of the CoD4 directory, with the exception of voice comms software.</li>
        <li>Any types of scripts proven to give a real advantage or are part of any &lsquo;exec&rsquo; or &lsquo;vstr&rsquo; bind (this does not include anything related to demos or demo players)</li>
        <li>Any script including &lsquo;lookdown&rsquo;</li>
        <li>Any script including &lsquo;wait&rsquo;</li>
        <li>Any bind including &lsquo;attack&rsquo; cannot be combined with any other command</li>
        <li>Any bind including &lsquo;frag&rsquo; cannot be combined with other commands/binds</li>
        <li>Any bind including &lsquo;weapnext&rsquo; cannot be combined with any other command</li>
        <li>Binding &lsquo;attack&rsquo; to MOUSE WHEEL UP/DOWN is prohibited</li>
    </ul>
    <h5>Permitted Bindings include :-</h5>
    <ul>
        <li>Changes to assigned stock single key game play binds.</li>
        <li>Binding of not more than two motion keys (Example: bind a +leanright;+moveright)</li>
        <li>Namebinds</li>
        <li>Demoscripts</li>
        <li>Weapon/Menu/Select Scripts (includes all grenades)</li>
        <li>Volume binds/toggles</li>
    </ul>
    <p>Any player found using illegal binds will be subject to possible removal from the competition.</p>
    <p><strong>Substitutions</strong>&nbsp;&ndash; Only players signed up on the team list may be used as substitutes.</p>
    <p>If you want use custom cfg email it <a href="mailto:richmondcollegeict@gmail.com">richmondcollegeict@gmail.com</a>&nbsp;before 18th&nbsp;february 2018. If not You have to play with a cfg given to by the&nbsp;organizing committee</p>
    <hr/>
    <br/>
</div>
<h4><u>Need For Speed Most Wanted (2005)</u></h4>
<p class="text-muted">*This game is for the competitors of Girls' Schools.</p>
<hr/>
<div class="move-left">
    <h5>BASIC GAME MODE SETTINGS</h5>
    <ul>
        <li>2 Players from each school can participate</li>
        <li>Game is played individually 4 competitors per each race</li>
        <li>Custom previously made cars will be given for the race</li>
        <li>Custom settings and controls are allowed to made</li>
    </ul>
</div>