<form action="{{ url_for('register_hyperlink') }}" method="post" class="move-left"  enctype = "multipart/form-data">

    <div class="form-group">
        <label for="school">School Name</label>
        <input type="text" class="form-control" id="school" name="school" placeholder="Enter School Name" required>
    </div>
    <div class="form-group">
        <label for="project-name">Project Name</label>
        <input type="text" class="form-control" id="project-name" name="project-name" placeholder="Enter Project Name" required>
    </div>
    <hr/>
    <div class="form-group">
        <label for="competitor-name">Competitor's Name</label>
        <input type="text" class="form-control" id="competitor-name" name="competitor-name" placeholder="Enter Competitor's Name" required>
    </div>
    <div class="form-group">
        <label for="competitor-email">Competitor's Email</label>
        <input type="email" class="form-control" id="competitor-email" name="competitor-email" placeholder="Enter Competitor's Email" required>
    </div>
    <div class="form-group">
        <label for="competitor-telephone">Competitor's Telephone Number</label>
        <input type="tel" class="form-control" id="competitor-telephone" name="competitor-telephone" placeholder="Enter Competitor's Telephone Number" required>
    </div>
    <hr/>
    <div class="form-group">
        <input type="file" name="file" id="file" accept=".zip" required>
        <br/>
        <label class="form-check-label" for="file">*Make zip of your project upload it</label>
    </div>
    <br/>
    <div class="text-center"><input type="submit" class="btn btn-danger" value="Submit Project"></div>
</form>