<div class="move-left">
    <p>Creating a website/ webpage for the given topic, using the below mentioned web designing language or web designing software.<br />The creation that is most relevant to the topic and most creative will be the winning creation.</p>
    <h5>Topic</h5>
    <ul>
    <li>A Website To Represent Your School</li>
    </ul>
    <h5>Languages</h5>
    <ul>
    <li>HTML</li>
    <li>Javascript</li>
    <li>Python</li>
    <li>Node JS</li>
    <li>Go</li>
    <li>PHP</li>
    </ul>
</div>